body{
    background: url("https://cdn.wallpapersafari.com/69/76/bOqfQC.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
.main{
    background: rgba(61, 61, 61, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(61, 61, 61, 0.55);
    width: 50%;
    height: 70%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center

}

img {
    width: 30%;
    height: 50%;
    border-radius: 8px;
}

h1{
    color: #f8f8f8;
}
